.Landing-BG {
  background: url('../Main/media/pattern.png');
}

.Landing-Container {
  background-color: white;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 10px;
  width: 94%;
}

.Landing-Hero {
  background: url('./media/hero2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  min-height: 520px;
}

.Landing-Row {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.Landing-Name {
  color: #86ebd0;
  font-family: Barrio, cursive;
  font-size: 3.7rem;
}

.Landing-Button {
  border: 1px solid black;
  color: black;
  font-size: 1.1rem;
  margin-top: 4px;
  padding: 8px 12px;
  text-decoration: none;
}

.Landing-Button:hover {
  border: 1px solid #5ad9b7;
  color: #86ebd0;
  cursor: pointer;
  text-decoration: none;
}

.Landing-LinkRow {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  margin-bottom: 20px;
  width: 60%;
}

.Landing-Link {
  color: darkgrey;
  font-size: 1rem;
  text-decoration: none;
}

.Landing-Link:hover {
  color: lightcoral;
  text-decoration: none;
}
