.Landing-Container {
  min-height: 100vh;
  padding-top: 30px;
}

.Landing-Hero {
  background: url('./media/hero2.png');
  margin-bottom: 10px;
  min-height: 520px;
  background-size: cover;
}

.Landing-Row {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.Landing-Name {
  color: #86ebd0;
  font-family: Barrio, cursive;
  font-size: 3.6rem;
}

.Landing-Button {
  border: 1px solid black;
  color: black;
  margin-top: 4px;
  padding: 8px 12px;
  text-decoration: none;
}

.Landing-Button:hover {
  border: 1px solid #5ad9b7;
  color: #86ebd0;
  cursor: pointer;
  text-decoration: none;
}

.Landing-LinkRow {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  margin-bottom: 20px;
  width: 60%;
}

.Landing-Link {
  color: darkgrey;
  text-decoration: none;
}

.Landing-Link:hover {
  color: lightcoral;
  text-decoration: none;
}
