* {
  margin: 0;
}

html, body {
  height: 100%;
}

.Main-Content {
  min-height: 100%;
  margin-bottom: -40px;
}

.Main-Content:after {
  content: "";
  display: block;
}

.Main-SM-Container {
  background: url('./media/pattern.png');
  border-bottom: 6px solid #e8fdf5;
  display: flex;
  justify-content: center;
}

.Main-Submit {
  align-items: center;
  background-color: #92e8c7;
  color: white;
  display: flex;
  float: right;
  font-size: 1.3rem;
  justify-content: center;
  height: 38px;
  padding: 4px 10px;
  width: 96px;
}

.Main-Submit:hover {
  background-color: #77f0c1;
  cursor: pointer;
}

.Main-ConsoleHeader {
  border-bottom: 6px solid #e8fdf5;
  display: flex;
  justify-content: center;
  min-height: 32px;
  padding: 4px;
}

.Main-HintsTitle {
  font-family: Amatic SC, Raleway, sans-serif;
  font-size: 1.9rem;
}

.Main-Console {
  background-color: #fab3a0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Main-HintContainer {
  background-color: white;
  margin-left: 15px;
  padding: 10px 44px;
  width: 48%;
}

.Main-SV-Container {
  display: flex;
  justify-content: space-around;
  margin-right: 15px;
  width: 48%;
}

.Main-HintBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
  padding: 8px;
  text-align: center;
}

.Main-Hint {
  font-size: 1.3rem;
  min-height: 24px;
  width: 90%;
}

.Main-HintReveal {
  border: 1px solid black;
  font-size: 0.8rem;
  margin-top: 12px;
  max-height: 25px;
  max-width: 70px;
  padding: 5px;
  text-align: center;
}

.Main-HintReveal:hover {
  border: 1px solid #d12d2d;
  color: #d12d2d;
  cursor: pointer;
}
