.Nav-Container {
  align-items: center;
  background-color: #e8fdf5;
  display: flex;
  justify-content: center;
  height: 55px;
}

.Nav-LogoName {
  color: #86ebd0;
  font-family: Barrio, cursive;
  font-size: 3.5rem;
  text-decoration: none;
}

.Nav-LogoName:hover {
  color: #86ebd0;
  font-weight: 800;
  text-decoration: none;
}
