.Footer-Footer {
  background-color: #e8fdf5;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.Footer-Phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

.Footer-FooterText {
  color: #54565b;
  font-size: 1.3rem;
}
