.App-Footer {
  background-color: #e8fdf5;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.App-Phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}
