/*.Footer-Footer {
  background-color: #e8fdf5;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}*/

/*.Footer-Phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}*/

.Footer-Footer, .Main-Content:after {
  height: 40px;
}

.Footer-Footer {
  background-color: #e8fdf5;
  padding: 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.Footer-FooterText {
  color: #54565b;
  font-size: 0.9rem;
}
